.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
}

.image-container {
  display: flex;
  height: 100%;
}

.decklist-path-image {
  border: 1px solid black;
  border-radius: 5px;
  height: 100%;
  width: 90%;
}
