.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
}


.greeting {
  text-align: center;
  content:"/a";
  white-space:pre;
}

.image-container {
  display: flex;
  height: 100%;
}

.decklist-path-image {
  border: 1px solid black;
  border-radius: 5px;
  height: 100%;
  width: 90%;
  object-fit: cover;
}
