body {
  display: flex;
  justify-content: center;
  background-color: blue;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

h2 {
  color: white;
}

* {
  font-family: 'Zen Tokyo Zoo', cursive;
  /* border: 1px solid red; */
}
