body {
  display: flex;
  justify-content: center;
  background-color: blue;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

h2 {
  color: white;
}

* {
  font-family: 'Zen Tokyo Zoo', cursive;
  /* border: 1px solid red; */
}

Link {
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:-webkit-any-link:hover {
    opacity: .75;
    transition: all 300ms ease-in-out;
}
