body {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.saymedia-content.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:eco%2Cw_1200/MTc5MjE4MTk2NTc0MzgxNTU2/blue-artwork-mtg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Zen Tokyo Zoo';
}

h2 {
  color: white;
}

h1 {
  font-family: 'Zen Tokyo Zoo', cursive;
}

Link {
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:-webkit-any-link:hover {
    opacity: .75;
    transition: all 300ms ease-in-out;
}

button {
  background-color: #008AD8;
  color: white;
  border-radius: 3px;
}
