.large-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: space-between;
}

.decklist {
  background-color: beige;
  border: 1px solid black;
  display: flex;
  text-align: center;
  flex-direction: column;
  content:"/a";
  white-space:pre;
  margin-right: 100px;
  border: 1px solid black;
  border-radius: 5px;
}


.descrip-container {
  margin-top: 10px;
  width: 90vw;
  text-align: center;
  background-color: beige;
  border: 1px solid black;
  border-radius: 5px;
}

.decklist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px
}

.youtube {
  margin-right: 275px;
}

.home-button {
  width: 5vw;
}
